<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" method="POST">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="Id"></input>
    </br>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name"></input>
    </br>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name"></input>
    </br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age"></input>
    </br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"></input>
    </br>
    <label for="password">Password</label>
    <input type="text"  id="password" placeholder="Password"></input>
    </br>
    <label for="roles">Role</label>
    <select name="rolesList" id="roles" multiple size="2">
        <option th:each="role : ${roles}"
                th:value="${role.name}"
                th:text="${role.getName()}">
        </option>
    </select>
    </br>
    <input type="submit" value="Edit User">
</form>
</br>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>