<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>
    <h2>User</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getUsername()}">Username</td>
            <td th:utext="${user.getName()}">Name</td>
            <td th:utext="${user.getSurname()}">Surname</td>
            <td th:utext="${user.getAge()}">Age</td>
        </tr>
    </table>
</body>
</html>