<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>
    <h2>User</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getFirstName()}">First Name</td>
            <td th:utext="${user.getLastName()}">Last Name</td>
            <td th:utext="${user.getAge()}">Age</td>
            <td th:utext="${user.getUsername()}">Email</td>
            <td><span th:each="role : ${user.getRoles()}" th:utext="${role.getName()} + ';'"> </span></td>
        </tr>
    </table>
</br>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>